body {
  display: block;
}

select.breed-select.hidden,
span.loader.hidden,
span.loader.hidden::after,
p.error.hidden,
div.cat-info.hidden {
  visibility: hidden;
}

img {
  width: 500px;
  object-fit: contain;
  object-position: right top;
}

div.cat-info {
  display: flex;
  background-color: lightgray;
}

div.text-container {
  width: 500px;
  padding-left: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 20px;
  border: 3px solid black;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
